<body style="background-color: #1A1423">
  <nav class="navbar navbar-light bg-primary mb-3">
    <%= link_to((root_path), class: "text-decoration-none purple-font") do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <%= link_to "New event", new_event_path, class: "text-decoration-none purple-font" %>
  </nav>
  <div class="container">
    <h1 class="poiret-font lavender-font border-bottom border-primary py-2 mb-3">Events</h1>
    <div class="cards">
      <% @events.each do |event| %>
        <%= link_to(event_path(event), class: "text-decoration-none") do %>
          <div class="card-category record purple-font">
            <div style="background-image: url(<%= image_path(event.image_url) %>); background-size: cover" class="record">
              <div id="record1" class="record-display"></div>
              <h2><%= event.name %></h2>
              <p><%= event.event_type %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
