<body style="background-color: #1A1423;">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('masks.jpg') %>)">
    <div class="container">
      <h1 class="poiret-font-h1 mb-3">Masquerade Manager</h1>
      <%= link_to "See all events", events_path, class: "lato-font btn btn-lg btn-outline-primary mb-3" %>
    </div>
  </div>
  <div class="container mt-4">
    <%= link_to "See all masks", masks_path, class: "lato-font text-decoraiton-none btn btn-primary btn-lg mb-3" %>
    <div style="background-color: #4B3A5B" class= "rounded p-1">
      <div class="slider rounded">
        <div class="slide-track">
          <div class="slide">
            <%= image_tag "bauta.jpg", height: "150", width: "250", alt: "" %>
          </div>
          <div class="slide">
            <%= image_tag "columbina.jpg", height: "150", width: "250", alt: "" %>
          </div>
          <div class="slide">
            <%= image_tag "gatto.jpg", height: "150", width: "250", alt: "" %>
          </div>
          <div class="slide">
            <%= image_tag "harlequin.jpg", height: "150", width: "250", alt: "" %>
          </div>
          <div class="slide">
            <%= image_tag "pierrot.jpg", height: "150", width: "250", alt: "" %>
          </div>
          <div class="slide">
            <%= image_tag "plague doctor.jpg", height: "150", width: "250", alt: "" %>
          </div>
          <div class="slide">
            <%= image_tag "pulcinella.jpg", height: "150", width: "250", alt: "" %>
          </div>
          <div class="slide">
            <%= image_tag "scaramouche.jpg", height: "150", width: "250", alt: "" %>
          </div>
          <div class="slide">
            <%= image_tag "volto full face.jpg", height: "150", width: "250", alt: "" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
